@import 'variables';

drawer .item {
  font-size: 15px;
  font-family: $roboto-medium;
  font-weight: 500;
  border: none;

  &.current > .item-content {
    background-color: rgba(0, 0, 0, 0.05);
    color: $positive;

    .icon {
      color: $positive;
    }
  }

  .icon {
    display: inline-block;
    color: #818181;
    margin-right: 50px;
    position: relative;

    &::before {
      width: 22px;
      font-size: 22px;
      text-align: center;
      position: absolute;
      bottom: -6px;
    }
  }
}

.list {
  padding-top: 0;
}

.drawer-header {
  width: 100%;
  height: 190px;
  background: #2d5d9d;
  margin-bottom: 10px;
}