$roboto-regular: 'Roboto', 'sans-serif';

$roboto-thin: 'sans-serif-thin', $roboto-regular;
$roboto-light: 'sans-serif-light', $roboto-regular;
$roboto-medium: 'sans-serif-medium', $roboto-regular;
$roboto-bold: 'sans-serif-bold', $roboto-regular;
$roboto-black: 'sans-serif-black', $roboto-regular;
$roboto-condensed: 'sans-serif-condensed', $roboto-regular;

$header-bar-height: 56px;
$tabs-top-height: 49px;