<ion-view view-title="About">
    <ion-content>
        <!-- Address Card -->
        <div class="card">
            <div class="item item-divider">
                Az-Zahraa Islamic Centre
            </div>
            <a href='#' class="item item-text-wrap"
               onclick="window.open('https://www.google.ca/maps/place/8580+No+5+Rd,+Richmond,+BC+V6Y+2V4', '_system', 'location=yes'); return false;">
                <i class="icon ion-android-map"></i>
                8580 No. 5 Road, Richmond, BC V6V 1Z3
            </a>
        </div>

        <!-- Website Card -->
        <div class="card">
            <div class="item item-divider">
                Website
            </div>
            <a href='#' class="item item-text-wrap"
               onclick="window.open('http://www.az-zahraa.org', '_system', 'location=yes'); return false;">
                <i class="icon ion-link"></i>
                az-zahraa.org
            </a>
        </div>

        <!-- Majlis card -->
        <div class="card">
            <div class="item item-divider">
                Majlis/Event Information
            </div>
            <a href='#' class="item item-text-wrap"
               onclick="window.open('tel:+1-604-279-1535', '_system', 'location=yes'); return false;">
                <i class="icon ion-android-call"></i>
                604-279-1535
            </a>
        </div>

        <!-- Keeping connected card -->
        <div class="card">
            <div class="item item-divider">
                Keeping Connected
            </div>
            <a href='#' class="item item-text-wrap"
               onclick="window.open('https://visitor.r20.constantcontact.com/manage/optin/ea?v=001hDXaORE2PUTEy5xqXa4bnw==', '_system', 'location=yes'); return false;">
                <i class="icon ion-android-mail"></i>
                Subscribe to our email newsletter
            </a>
        </div>

    </ion-content>
</ion-view>
