<ion-view view-title="About">
  <ion-content> 
     <!-- Address Card -->
    <div class="card">
      <div class="item item-divider">
        Az-Zahraa Islamic Centre
      </div>
      <div class="item item-text-wrap">
          <i class="icon ion-android-mail"></i>
          8580 No. 5 Road, Richmond, BC V6V 1Z3
      </div>  
    </div>
      
     <!-- Website Card -->
    <div class="card">
      <div class="item item-divider">
        Website
      </div>
      <div class="item item-text-wrap">
          <i class="icon ion-link"></i>
          <a href="http://az-zahraa.org">az-zahraa.org</a>
      </div>  
    </div>
    
    <!-- Majlis Card -->
    <div class="card">
      <div class="item item-divider">
        Majlis/Event Information
      </div>
      <div class="item item-text-wrap">
          <i class="icon ion-android-call"></i>
          <!-- TODO make this clickable/dialable -->
          <a href="tel:+1-604-279-1535">604-279-1535</a>
      </div>  
    </div>
    
   </ion-content>
</ion-view>
