<ion-view view-title="About">
  <ion-content> 
     <!-- Address Card -->
    <div class="card">
      <div class="item item-divider">
        Az-Zahraa Islamic Centre
      </div>
      <a href='https://www.google.ca/maps/place/8580+No+5+Rd,+Richmond,+BC+V6Y+2V4' class="item item-text-wrap">
          <i class="icon ion-android-mail"></i>
          8580 No. 5 Road, Richmond, BC V6V 1Z3
      </a>  
    </div>
      
     <!-- Website Card -->
    <div class="card">
      <div class="item item-divider">
        Website
      </div>
      <a href="http://az-zahraa.org" class="item item-text-wrap">
          <i class="icon ion-link"></i>
          <!--TODO style as link-->
          az-zahraa.org
      </a>  
    </div>
    
    <!-- Majlis Card -->
    <div class="card">
      <div class="item item-divider">
        Majlis/Event Information
      </div>
      <a href="tel:+1-604-279-1535" class="item item-text-wrap">
          <i class="icon ion-android-call"></i>
          <!-- TODO style as link -->
         604-279-1535
      </a>  
    </div> 
    
    

   </ion-content>
</ion-view>
