<ion-view view-title="Events">
    <ion-content>

        <!-- Pull to Refresh -->
        <ion-refresher pulling-text="Pull to refresh..." refreshing-text="Refreshing!" on-refresh="doRefresh()"></ion-refresher>


        <div ng-repeat="event in events">
            <!-- Event Cards -->
            <div class="list card">
                <div class="item item-divider">
                    {{event.title}}
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-ios-clock-outline"></i>
                    {{event.date | formatNextEventDate }}
                </div>

                <div class="item item-icon-left item-text-wrap">
                    <i class="icon ion-edit"></i>
                    {{event.description | formatDescription}}
                </div>

                <div class="item item-icon-left item-text-wrap" ng-click="confirmAddEvent( event.title, event.date, event.description )">
                    <i class="icon ion-android-add-circle"></i>
                    Add to Calendar
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
