<ion-view view-title="Home">
  <ion-content>
   
     <h2>Date</h2>
        {{today | date:'EEEE dd MMMM yyyy'}}
        <br>
        {{today | date:short}}
        <br>
        Lunar Date HERE
        <br>
        The calendar offset is:
          <span ng-if="calendarOffset === 0">
            Calendar offset is 0!
            </span>
         <!--{{calendarOffset}}-->

     <h2>Namaaz</h2>
     
     <h2>Next Event</h2>
     <!-- figure out how to get next event title here! (compare to current date?) -->
     {{nextEvent.title}}
     
     
     
     <!--<h5>Test Data:</h5> 

     <li ng-repeat="event in events" >
       {{event.title}}
      
       
       <br>
       {{event.date | castStringToDate | date:'EEEE dd MMMM yyyy'}} @  {{event.date | castStringToDate | date:'h:mm:ss a'}}
       <br>

    </li>-->
    
    

  </ion-content>
</ion-view>
