<ion-view view-title="Home">
  <ion-content>
   
     <h2>Date</h2>
        {{today | formatDate}}
     
        <br>
        Lunar Date: {{todayIslamicDate}}
        <br>
       

     <h2>Namaaz</h2>
     Fajr: {{todayFajr | formatDate}} <br>
     Sunrise: {{todaySunrise | formatDate}}<br>
     Zuhr: {{todayZuhr | formatDate}}<br>
     Sunset: {{todaySunset | formatDate}}<br>
     Maghrib: {{todayMaghrib | formatDate}}
     
     
     <h2>Next Event</h2>

     {{nextEvent.title}}<br>
     {{nextEvent.date}}<br>
     {{nextEvent.description | formatDescription}}
     
  </ion-content>
</ion-view>
