.bar {
  .button {
    width: 34px;
    &.button-icon {
      .icon:before,
      &:before,
      &.icon-left:before,
      &.icon-right:before {
        font-size: 24px;
      }
    }
  }
}

.has-header.has-tabs-top {
  top: 44px + 49px;
}