.bar {
  .button {
    width: 34px;
    &.button-icon {
      .icon:before,
      &:before,
      &.icon-left:before,
      &.icon-right:before {
        font-size: 22px;
      }
    }
  }
  .back-text {
    font-size: 15px;
  }

  .title {
    font-size: 18px;
  }
}

.has-header.has-tabs-top {
  top: 44px + 49px;
}