$material-icons-font-family: "Material Icons" !default;

.ion-navicon:before {
  content: "\e5d2"
}

.ion-android-arrow-back:before {
  content: "\e5c4"
}

.ion-navicon:before,
.ion-android-arrow-back:before {
  font-family: $material-icons-font-family;
}